staticfiles/
.wsgi.pu
*.pyc
.pyc
*.pyo
base/local_settings.py
.floo
.flooignore
/.idea/
/env/
/venv/
/__pycache__/
/__pycache__
db.sqlite3
/db.sqlite3
*.pyc
*.pyo
base/local_settings.py
.floo
.flooignore
/.idea/
/env/
/venv/
/pyenv/