
@media screen and (min-width: 430px) {
       .echa-pa-abajo{
            padding-top: 3%;
        }
}

@media screen and (max-width: 420px) {
       .echa-pa-abajo{
            padding-top: 5%;
        }
}


@media screen and (max-width: 900px) {
       .ocultar-dispositivo{
            display: none;
        }
}

