{% extends 'main.html' %}
{% block title %}
    :: Inicio ::
{% endblock %}
{% block main %}
            <h3 class="page-title">
			    Bienvenido a <strong>Endeavour</strong>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a>Inicio</a>
					</li>
				</ul>
			</div>
			<div class="row">
            {% load humanize %}
				{% for producto in object_list %}
				<div class="col-md-3">
                        <div class="thumbnail">
                            <img  src="{{ producto.imagen.url }}" width="100px" id="imagen_{{ producto.id }}">
                            <div class="caption">
                                <h4 class="pull-right">
                                    $ <span id="precio_{{ producto.id }}">{{ producto.precio|intcomma  }}</span>
                                </h4>
                                <h4>
                                    <a href="#" id="nombre_{{ producto.id }}">
                                        {{ producto.nombre }}
                                    </a>
                                </h4>
                                <p style="display: none;" id="detalle_{{ producto.id }}">
                                    {{ producto.descripcion }}
                                </p>
                                <p style="display: none;" id="cantidad_{{ producto.id }}">
                                    {{ producto.cantidad }}
                                </p>
                                <p style="display: none;" id="categoria_{{ producto.id }}">
                                    {{ producto.categoria }}
                                </p>
                                <br>
                                <div align="center">
                                    {% if request.user.is_anonymous or request.user.cliente %}
                                    <a href="{% url 'comprar' producto.id %}" class="btn btn-success">
                                       Comprar <i class="fa fa-shopping-cart"></i>
                                    </a>
                                    {% endif %}
                                    <a class="btn blue btn-outline sbold" onclick="DetalleProducto({{ producto.id }})" data-toggle="modal" href="#draggable">
                                      Ver  <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
				{% endfor %}
			</div>

            {% include 'productos/modal.html' %}
            {% include 'pagination.html' %}

{% endblock %}

