<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true"
        data-slide-speed="200">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                {% include 'menus/administrador.html' %}
                {% include 'menus/trabajador.html' %}
            {% elif user.es_trabajador  %}
                {% include 'menus/trabajador.html' %}
            {% elif user.cliente %}
                {% include 'menus/cliente.html' %}
            {% endif %}
        {% else %}
            {% include 'menus/usuario_anonimo.html' %}
        {% endif %}
    </ul>
</div>