<li>
    <a href="javascript:;">
        <i class="fa fa-diamond"></i>
        <span class="title">Administracion</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="{% url 'crear_categoria' %}">
                <i class="icon-tag"></i>
                Crear Categoria
            </a>
        </li>
        <li>
            <a href="{% url 'crear_producto' %}">
                <i class="fa fa-cubes"></i>
                Crear Producto
            </a>
        </li>
        <li>
            <a href="{% url 'lista_productos' %}">
                <i class="icon-basket"></i>
                Lista de Productos
            </a>
        </li>
    </ul>
</li>