<li class="start ">
    <a href="{% url 'registro' %}">
        <i class="icon-user"></i>
        <span class="title">Perfil</span>
    </a>
</li>
<li class="start ">
    <a href="{% url 'entrar' %}">
        <i class="icon-basket"></i>
        <span class="title">Mis Pedidos</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="{% url 'mis_pedidos' %}">
                <i class="icon-like"></i>
                Todos mis pedidos
            </a>
        </li>
        <li>
            <a href="{% url 'pedidos_pagados' %}">
                <i class="icon-like"></i>
                Pedidos pagados
            </a>
        </li>
        <li>
            <a href="{% url 'pedidos_no_pagados' %}">
                <i class="icon-dislike"></i>
                Pedidos sin pagar
            </a>
        </li>
        <li>
            <a href="{% url 'pedidos_cancelados' %}">
                <i class="icon-ban"></i>
                Pedidos cancelados
            </a>
        </li>
    </ul>
</li>